<header id="header">
    <div class="head" data-scroll-speed="-3">
        <div class="layout">
            <div class="toolbar">
                <ng-content class="toolbar"></ng-content>
            </div>
            <span class="title">{{title}}</span>
            <span class="name">
                {{doctorName}}
                <span class="badge">{{role}}</span>
            </span>
        </div>
        <div class="clinic-name">
            {{clinicName}}
        </div>
    </div>
</header>