@import "src/colors";

$_0: #7b1212;
$_1: #a44518;
$_2: #cda926;
$_3: #a3c312;
$_4: #3eda17;

span {
    width: 100%;
    display: flex;
    align-items: center;
}

.wrapper {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #00000016;
    background-color: #ffffff;

    &:hover:not(.selected) {
        background-color: $hover;
    }
}

.selected {
    background-color: $selected;
    color: white;

    button:not(.btn-selected) {
        background-color: rgb(0, 0, 0);
    }
}

.buttons {
    display: flex;
    align-items: center;

    button {
        background-color: white;
        border: none;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        width: 2rem;
        height: 2rem;
        margin: .1rem;

        font-weight: bold;

        &:disabled:not(.btn-selected) {
            display: none;
        }

        &:hover:not(:disabled):not(.btn-selected) {
            color: white;

            &.r0 {
                background-color: rgba($color: $_0, $alpha: 0.8);
            }

            &.r1 {
                background-color: rgba($color: $_1, $alpha: 0.8);
            }

            &.r2 {
                background-color: rgba($color: $_2, $alpha: 0.8);
            }

            &.r3 {
                background-color: rgba($color: $_3, $alpha: 0.8);
            }

            &.r4 {
                background-color: rgba($color: $_4, $alpha: 0.8);
            }
        }
    }

    .btn-selected {
        color: white;

        &.r0 {
            background-color: $_0;
            box-shadow: 0px 0px 5px 1px rgba($color: $_0, $alpha: 0.6);
        }

        &.r1 {
            background-color: $_1;
            box-shadow: 0px 0px 5px 1px rgba($color: $_1, $alpha: 0.6);
        }

        &.r2 {
            background-color: $_2;
            box-shadow: 0px 0px 5px 1px rgba($color: $_2, $alpha: 0.6);
        }

        &.r3 {
            background-color: $_3;
            box-shadow: 0px 0px 5px 1px rgba($color: $_3, $alpha: 0.6);
        }

        &.r4 {
            background-color: $_4;
            box-shadow: 0px 0px 5px 1px rgba($color: $_4, $alpha: 0.6);
        }
    }


}