<app-header page-name="Проходять лікування"></app-header>
<p-confirmDialog header="Підтвердіть" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="wrap">
    <div class="left">
        <div class="doctor card" *ngIf="doctor != undefined">
            <h2>{{doctor.pib}}</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title">Спеціалізація: </td>
                        <td>{{doctor.speciality}}</td>
                    </tr>
                    <tr>
                        <td class="title">Дата народження: </td>
                        <td>{{doctor.birthDate | dateukr }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="foot">
                <button pButton class="p-button-danger" (click)="remove($event)">Видалити</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="treatments">
            <div class="top">
                <h3>Доступ до лікуваннь</h3>
                <button pButton class="p-button-danger" (click)="removeAccess()"
                    [disabled]="selected == undefined">Заборонити</button>
            </div>
            <p-table [value]="treatments" *ngIf="treatments.length != 0; else empty">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ПІБ</th>
                        <th>Дата поступлення</th>
                        <th>Головний діагноз</th>
                        <th>Дата народження</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-treatment>
                    <tr (click)="select(treatment)" [class.selected]="selected == treatment">
                        <td>{{treatment.patient.pib}}</td>
                        <td>{{treatment.admissionDate | dateukr}}</td>
                        <td>{{treatment.mainDiagnosis}}</td>
                        <td>{{treatment.patient.birthDate | dateukr}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <ng-template #empty>
                У цього лікаря немає доступу до жодного пацієнта.<br> Додайте їх на сторінці
                <a routerLink="/">Лікування</a>
            </ng-template>
        </div>
    </div>
</div>
<app-error-message [response-code]="error"></app-error-message>